<!doctype html>
<html>
<head>
	<title>Incentivized Carpooling</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
	<intercept-url pattern="/favicon.ico" access="ROLE_ANONYMOUS" />
</head>
<body>
	<div id="screen">
		<!-- <div class="header">

		</div> -->
		<div class="content">
			{{{body}}}
		</div>
	</div>
	<script src="/scripts/buttons.js"></script>
</body>
</html>