<!doctype html>
<html>
<head>
	<title>carpooling</title>
	<link rel="stylesheet" href="/css/style.css">
	<intercept-url pattern="/favicon.ico" access="ROLE_ANONYMOUS" />
</head>
<body>
	<div id="screen">
		<div class="header">

		</div>
		<div class="content">
			{{{body}}}
		</div>
	</div>
</body>
</html>