<script src="/scripts/addPayment.js"></script>

<h1>Incentivized Carpooling</h1>
	<div class = "boxes">
		<div>
				<label id = "LabelDP" for="dp">Driver/Passenger</label>
			<span class="checkbox">
			    <input type="checkbox">
			    <label data-on="Driver" data-off="Passenger"></label>
			</span>
		</div>
		<div class = "trackingBox">
					<label id = "LabelTracking" for="dp">Enable Tracking</label>
			<span class="checkbox">
			    <input type="checkbox">
			    <label data-on="ON" data-off="OFF"></label>
			</span>
		</div>
		
	</div>
</div>
<div >
	<p id="regP">Please Add a Credit Card</p>
	<form id="registerForm" action="/">
				<p id="regP">Credit Card Number:</p>
				<input type="password" id="cardNumber" placeholder="cardNumber"><br>
				<p id="regP">CVV:</p>
				<input type="text" id="cvv" placeholder="CVV"><br>
				<p id="regP">Expire Month:</p>
				<input type="text" id="expMonth" placeholder="1" maxlength="2" size="2"><br>
				<p id="regP">Expire Year:</p>
				<input type="text" id="expYear" placeholder="2020" maxlength="4" size="4"><br>
				<input type="submit" id="addCard" class="button1" value="Add Card"/>
	</form>
</div>
<div id = "menuandlog">
	<a class = "logout" href="/logout">Logout</a>
	<a class= "changePassword" href="/changePassword"> Change Password</a>
	<div id="menuBar">
		<button id="findMatch" class="profileButton disabled">Find Match</button>
		<button id="myRoutes" class="profileButton">My Routes </button>
		<button id="newRide" class="profileButton">New Ride  </button>
		<button id="profile" class="profileButton">Profile   </button>
	</div>
</div>