<script src="/scripts/changePasswordScript.js"></script>

<h1>Incentivized Carpooling</h1>
<br>
<br>
<p id="regP">Please Input Your New Password</p>
<form id="updatePasswordForm" action="/">
	<div class = "input-icon"> <img class = "passwordImg" src = "img/password.png" ></div>
	<input type="password" id="newPassword" placeholder="Password"><br><br>
	<input type="submit" id="updatePassword" class="button1"/>
	<a class = "profile" href="/profile">Back to Profile</a>
</form>