<script src="/scripts/signInScript.js"></script>


<h1>Incentivized Carpooling</h1>
	<img class = "mainImg" src = "img/carpooling.png" alt = "">
	<form id="signInForm" action="profile">
		<div class = "input-icon"> <img class = "accountImg" src = "img/account.png" ></div>
		<input type="text" id="username" placeholder="Username"><br>
		<div class = "input-icon"> <img class = "passwordImg" src = "img/password.png" ></div>
		<input type="password" id="password" placeholder="Password"><br><br>
		<input type="submit" id="login" class="button1" value="Sign In" />
	</form>
	<br />
	<p id="homeP">Don't have an account?</p>
	<form action="signup">
		<input type="submit" class="button1" value="Sign Up" />
	</form>