<script src="/scripts/signInScript.js"></script>


<h1>Incentivized Carpooling</h1>
<br />
<br />

<br />
<br />
<form id="signInForm" action="profile">
	<label for="username">Username</label>
	<input type="text" id="username"><br>
	<label for="password">Password</label>
	<input type="password" id="password"><br><br>
	<input type="submit" id="login" class="button1" value="Sign In" />
</form>
<br />
<p>Don't have an account?</p>
<form action="signup">
	<input type="submit" id="signUp" class="button1" value="Sign Up" />
</form>