<script src="/scripts/myRidesScript.js"></script>
<h1>Incentivized Carpooling</h1>
<h3>My Rides</h3>
<p id="noroutes"></p>
<table id="rides"></table>
<form action="newride">
		<input type="submit" class="button1" value="New Ride" />
</form>
