<script src="/scripts/myRoutesScript.js"></script>
<h1>Incentivized Carpooling</h1>
<h3>My Routes</h3>
<p id="noroutes"></p>
<table id="routes"></table>
<form action="newRoute">
		<input type="submit" class="button1" value="New Route" />
</form>
<br/>
<br/>
<div id = "menuandlog3">
	<a class = "logout" href="/logout">Logout</a>
	<div class="menuBar">
		<button id="findMatch" class="profileButton disabled">Find Match</button>
		<button id="myRoutes" class="profileButton">My Routes </button>
		<button id="myRides" class="profileButton">My Rides  </button>
		<button id="profile" class="profileButton">Profile   </button>
	</div>
</div>
