<script src="/scripts/myRoutesScript.js"></script>

<h1>Incentivized Carpooling</h1>
<br />
<br />
<br />
<br />
<h3>My Routes</h3>
<br/>
<form action="newRoute">
		<input type="submit" class="button1" value="New Route" />
</form>
<div id="menuBar">
	<button id="findMatch" class="profileButton disabled">Find Match</button>
	<button id="myRoutes" class="profileButton">My Routes </button>
	<button id="newRide" class="profileButton">New Ride  </button>
	<button id="profile" class="profileButton">Profile   </button>
</div>