<script src="/scripts/newRideScript.js"></script>

<h1>Incentivized Carpooling</h1>
<h3>New Ride</h3>
<div id = "menuandlog3">
	<a class = "logout" href="/logout">Logout</a>
	
	<div class="menuBar">
		<button id="findMatch" class="profileButton disabled">Find Match</button>
		<button id="myRoutes" class="profileButton">My Routes </button>
		<button id="newRide" class="profileButton enabled">New Ride  </button>
		<button id="profile" class="profileButton">Profile   </button>
	</div>
</div>