<script src="/scripts/newRouteScript.js"></script>
<h1>Incentivized Carpooling</h1>
<h3>Add New Route</h3>
<form action="myroutes">
	<label for="startLocation">Route Name</label>
	<input type="text" id="name">
	<label for="startLocation">Start Location</label>
	<input type="text" id="startLocation">
	<label for="endLocation">End Location</label>
	<input type="text" id="endLocation">
	<label for="depart">Departure Time</label>
	<input type="time" id="depart">
	<label for="arrive">Arrival Time</label>
	<input type="time" id="arrive">
	<label for="distance">Distance (miles)</label>
	<input type="number" step="0.01" id="distance">
	<br>
	<input type="submit" id="addRoute" class="button1"/>
</form>