<script src="/scripts/newRideScript.js"></script>

<h1>Incentivized Carpooling</h1>
<h3>New Ride</h3>
<form action="myrides">
	<label for="date">Date</label>
	<input type="date" id="date"><br><br>
	<label for="name">Route </label>
	<select name="name" id="name"></select><br>
	<label for="driver">Driver</label>
	<select name="driver" id="driver"></select><br>
	<label for="mileage">Driver's Gas Mileage</label>
	<input type="number" id="mileage"><br><br>
	<label for="rating">Rating</label>
	<select name="rating" id="rating"></select><br>
	<input type="submit" id="addRide" class="button1"/>
</form>
<div id = "menuandlog3">
	<a class = "logout" href="/logout">Logout</a>
	<div class="menuBar">
		<button id="findMatch" class="profileButton disabled">Find Match</button>
		<button id="myRoutes" class="profileButton">My Routes </button>
		<button id="myRides" class="profileButton">My Rides  </button>
		<button id="profile" class="profileButton">Profile   </button>
	</div>
</div>