<script src="/scripts/newRideScript.js"></script>

<h1>Incentivized Carpooling</h1>
<br />
<br />
<br />
<br />
<h3>New Ride</h3>
<div id="menuBar">
	<button id="findMatch" class="profileButton disabled">Find Match</button>
	<button id="myRoutes" class="profileButton">My Routes </button>
	<button id="newRide" class="profileButton">New Ride  </button>
	<button id="profile" class="profileButton">Profile   </button>
</div>