<h1>Incentivized Carpooling</h1>

<br />
<div>
	<label id = "LabelDP" for="dp">Driver/Passenger</label>
<span class="checkbox">
    <input type="checkbox">
    <label data-on="Driver" data-off="Passenger"></label>
</span>
</div>

<div id="menuBar">
	<button class="profileButton disabled">Find Match</button>
	<button class="profileButton">My Routes </button>
	<button class="profileButton">New Ride  </button>
	<button class="profileButton">Profile   </button>
	<a href="/logout">Logout</a>
</div>