<script src="/scripts/profileScript.js"></script>

<h1>Incentivized Carpooling</h1>
	<div class = "boxes">

		<div class="dpBox">
				<label id = "LabelDP" for="dp">Driver/Passenger</label>
			<span class="checkbox">
				<input type="checkbox" id="driverToggle" value ="ON">
				<label data-on="Driver" data-off="Passenger"></label>
			</span>
		</div>
		
		<div class = "trackingBox">
			<label id = "LabelTracking" for="dp">GPS Tracking</label>
			<span class="checkbox">
				<input type="checkbox" id="gpsToggle" value="ON">
				<label data-on="ON" data-off="OFF"></label>
			</span>
		</div>
		

	</div>
<!-- </div> -->
<div > <img class = "profImg" src = "img/profile.png" ></div>

<div>
	<p id="regP">Credit Card Number: {{cardNumber}}</p><br>
	<a href="/deletePayment"> Delete Card</a>
</div>