<h1>Incentivized Carpooling</h1>
	<div class = "boxes">
		<div>
				<label id = "LabelDP" for="dp">Driver/Passenger</label>
			<span class="checkbox">
			    <input type="checkbox">
			    <label data-on="Driver" data-off="Passenger"></label>
			</span>
		</div>
		<div class = "trackingBox">
					<label id = "LabelTracking" for="dp">Enable Tracking</label>
			<span class="checkbox">
			    <input type="checkbox">
			    <label data-on="ON" data-off="OFF"></label>
			</span>
		</div>


	</div>
</div>

<div id = "menuandlog">
	<a class = "logout" href="/logout">Logout</a>
	<a class= "changePassword"> Change Password</a>
	<div id="menuBar">
		<button class="profileButton disabled">Find Match</button>
		<button class="profileButton">My Routes </button>
		<button class="profileButton">New Ride  </button>
		<button class="profileButton">Profile   </button>
	</div>
</div>