<script src="/scripts/signUpScript.js"></script>

<h1>Incentivized Carpooling</h1>
<br>
<br>
<p id="regP">Thanks for deciding to use Incentivized Carpooling! Simply type in your desired username and password, and start carpooling!</p>
<form id="registerForm" action="/">
	<div class = "input-icon"> <img class = "accountImg" src = "img/account.png" ></div>
	<input type="text" id="registerUsername" placeholder="Username"><br>
	<div class = "input-icon"> <img class = "passwordImg" src = "img/password.png" ></div>
	<input type="password" id="registerPassword" placeholder="Password"><br><br>
	<input type="submit" id="newUser" class="button1"/>
</form>