<script src="/scripts/signUpScript.js"></script>

<h1>Incentivized Carpooling</h1>
<br>
<br>
<p id="regP">Thanks for deciding to use Incentivized Carpooling! Simply type in your desired username and password, and start carpooling!</p>
<form id="registerForm" action="/">
	<label for="username">Username:</label>
	<input type="text" id="registerUsername"><br>
	<label for="password">Password:</label>
	<input type="password" id="registerPassword"><br><br>
	<input type="submit" id="newUser" class="button1"/>
</form>