#screen {
	width: 2.7in;
	height: 4.8in;
	border: solid;
}

.content {
	width: 100%;
}

h1 {
	text-align: center;
}

form {
	margin: 0 auto;
}

.button1 {
    background-color: #4CAF50; /* Green */
	margin: 0 auto; /* center */
	font-weight: bold;
    border: none;
	border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

input[type=text] {
	width: 80%;
	display: block;
	margin: 0 auto;
	border: none;
	border-bottom: 1px solid black;
}

input[type=password] {
	width: 80%;
	display: block;
	margin: 0 auto;
	border: none;
	border-bottom: 1px solid black;
}

label {
	width: 80%;
	display: block;
	margin: 0 auto;
	text-align: left;
}
	